<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="flutter_study"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- 이 활동에 빨리 적용 할 안드로이드 테마를 지정합니다.
                 안드로이드 프로세스가 시작되었습니다. 이 테마는 사용자에게 보입니다
                 플러터 UI가 초기화되는 동안. 그 후이 주제는 계속됩니다
                 플러터 UI 뒤의 창 배경을 결정합니다. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 아래 메타 데이터를 삭제하지 마십시오.
             Flutter Tool에서 생성 된 pluginregistrant.java를 생성하는 데 사용됩니다. -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- 텍스트를 처리 할 수있는 활동을 쿼리하려면 다음을 참조하십시오.
         https://developer.android.com/training/package-visibility 및
         https://developer.android.com/reference/android/content/intent#action_process_text.

         특히, 이것은 io.flutter.plugin.text.processtextplugin의 Flutter Engine에서 사용합니다. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <!--  안드로이드 배포시 https( dio 사용중 )  권한 설정  -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
